<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.vaporwarewolf.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>My custom bluetooth prompt</string>
	<key>NSCalendarsUsageDescription</key>
	<string>My custom calendars prompt</string>
	<key>NSCameraUsageDescription</key>
	<string>My custom camera prompt</string>
	<key>NSContactsUsageDescription</key>
	<string>My custom contacts prompt</string>
	<key>NSHealthShareUsageDescription</key>
	<string>My custom health share prompt</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>My custom health usage promt</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>My custom location always prompt</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>My custom location when in use prompt</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>My custom microphone prompt</string>
	<key>NSMotionUsageDescription</key>
	<string>My custom motion prompt</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>My custom photos prompt</string>
	<key>NSRemindersUsageDescription</key>
	<string>My custom reminders prompt</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
		<string>healthkit</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
